# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\xaxax\Documents\GitHub\FEFU_ICPC\Maiting_Call_Waiting_Team\Puzan_Training\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
